
.nav-bar{
	display: flex;
}
.tab {
	padding: 10px;
	background-color: #374785
}

.tab:hover {
	background-color: #A8D0E6;
}
.current_tab {
	backgroundcolor: #A8D0E6;
	padding: 10px;
}

.main-body {
	display: flex;
}

.main-body > div {
}

.gallery {
	line-height: 0;

	column-count: 5;
	column-gap:   1rem; 
}

.gallery img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding-top: 1rem;
}

.list {
	padding-top: 20px;
}

.project { 
	display: flex;
	align-items: center;
	padding-top: 20px;
}

.project__img {
	float: left;
}
.project__text {
	float: left;
	padding: 10px;
	display: grid;
}
.project__text > div {
	padding-top: 10px;
}

body {
	background-color: #A8D0E6;
}
title, p, h1, h3 {
	color: white;
}
a{
	color: white;
	text-decoration: none;
}

#top {
  display: none;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #374785;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
}

@media (max-width: 1200px) {
  .gallery {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .gallery {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .gallery {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
  .main-body {
  	display: block;
  }
}
@media (max-width: 400px) {
  .gallery {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
  .main-body {
  	display: block;
  }
  .project {
  	display: block;
  }

}

.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: #A8D0E6;
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 5%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}
