.header {

}

.nav-bar{
	display: flex;
}
.nav-bar > .tab {
	padding: 10px;
}

.main-body {
	display: flex;
}

.main-body > div {
	padding: 10px;
}

.gallery {
	line-height: 0;

	-webkit-column-count: 5;
	-webkit-column-gap:   0px;
	-moz-column-count:    5;
	-moz-column-gap:      0px;
	column-count:         5;
	column-gap:           10px; 
}

.gallery img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding-top: 10px;
}

.list {
	padding-top: 20px;
}

.project { 
	display: flex;
	align-items: center;
	padding-top: 20px;
}

.project__img {
	float: left;
}
.project__text {
	float: left;
	padding: 10px;
	display: grid;
}
.project__text > div {
	padding-top: 10px;
}

body {
	background-color: #A8D0E6;
}
title, p, h1, h3 {
	color: white;
}
a{
	color: white;
	text-decoration: none;
}
a:hover {
	background-color: #374785;
}

#top {
  display: none;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background: none;
  color: white;
  cursor: pointer;
  padding: 15px;
}

@media (max-width: 1200px) {
  .gallery {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .gallery {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .gallery {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .gallery {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
